.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
  height: 64px;
}

.navbar__icon {
  width: 32px;
  height: 32px;
  /* border-radius: 50%; */
  margin-right: 8px;
  fill: #2081C3;
}

.navbar__heading {
  font-size: 18px;
  text-transform: uppercase;
  color: #4A4A4A;
  font-weight: unset;
}
.cards-container {
  background-color: #f0f0f0;
  padding-top: 16px;
  display: flex;
    flex-direction: column;
    align-items: center;
}
